.notFound {
  max-width: 460px;
  width: 100%;
  text-align: center;
  line-height: 1.4;
  margin: 0.5rem auto;
  padding: 0.5rem;
}

.notFound .notFound-404 {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.notFound .notFound-404 .icon-container {
  width: 100%;
  height: 100%;
  margin-bottom: 3rem;
  margin-top: -1.5rem;
}

.notFound .notFound-404 .icon-container .icon {
  width: 10rem;
  height: 10rem;
}

.notFound .notFound-404 h1 {
  font-family: 'Cabin', sans-serif;
  color: #000;
  font-weight: 700;
  margin: 0;
  font-size: 90px;
  text-align: center;
  height: 40px;
  line-height: 40px;
}

.notFound h2 {
  font-family: 'Cabin', sans-serif;
  font-size: 33px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 7px;
}

.notFound p {
  font-family: 'Cabin', sans-serif;
  font-size: 16px;
  color: #000;
  font-weight: 400;
}

.notFound a {
  font-family: 'Cabin', sans-serif;
  display: inline-block;
  padding: 10px 25px;
  background-color: #8f8f8f;
  border: none;
  border-radius: 40px;
  color: #fff;
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  text-decoration: none;
  -webkit-transition: 0.2s all;
  transition: 0.2s all;
  cursor: pointer;
  -webkit-user-select: none;
}

.notFound a:hover {
  background-color: #2c2c2c;
}
